:root {
    /* Primary colors*/
    --purple: #7B6EF6;
    --white: #fff;
    --black: #000000;
    --red: #FF385C;
    --gray-dark: #2D2D2D;
    --gray: #737373;
    --light-gray:#767E94;
    --blue: #121829;
    --dark-blue: #232947;
    --orange: #FFAD49;
    --input:rgba(148, 163, 184, 0.1);

}