.multi-button {
  display: inline-flex;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.button {
  background-color: transparent;
  padding: 10px 17px 10px 17px;
  color: #8E95A9;
  cursor: pointer;
  border: 0;
}

.active {
  background: #7B6EF6;
  border-radius: 8px;
  color: #fff;
}

.movies-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: #EBEEF5;
  margin-bottom: 24px;
}

.popular-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 282px;
  background: rgba(32, 40, 62, 0.8);
  border-radius: 12px;
  margin-bottom: 26px;
  padding: 8px;
}

.movie img {
  max-width: 100%;
  border-radius: 12px;
  min-height: 399px;
}