@import url(/src/css/colors.css);

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: var(--purple);
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--purple);
}

.swiper-scrollbar-drag {
  --swiper-scrollbar-drag-bg-color: var(--purple);
}

.now-playing {
  padding: 24px 0;
}

.slider-link {
  display: flex;
  flex-direction: column;
  width: 282px;
  background: var(--dark-blue);
  border-radius: 12px;
  margin-bottom: 26px;
  padding: 8px;
}

.slider-link img {
  max-width: 100%;
  border-radius: 12px;
  min-height: 399px;
}

.slider-rating {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: var(--black);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: var(--orange);
}

.slider-rating .fa-regular {
  margin-right: 8px;
  color: var(--orange);
}

.slider-wrapper {
  padding: 12px 0;
}

.slider-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-bottom: 8px;
}

.slider-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--light-gray);
}