@import "../css/normalize.css";
@import "../lib/swiper.css";
@import "../css/search.css";
@import "../css/tabs.css";
@import "../css/radio.css";
@import "../css/shows.css";
@import "../css/movie-details.css";

body {
  font-family: "Lexend", "Open-Sans", sans-serif;
  background-size: contain;
  color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #A8AEBF;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* header */
header {
  background-color: #121829;
  padding: 16px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  max-height: 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.header-nav {
  min-width: 170px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}

.nav-link::after {
  display: none;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.nav-link:hover.nav-link::after {
  display: inline-block;
}

.active {
  color: #7B6EF6;
}

.active::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #7B6EF6;
  position: absolute;
  left: 0;
  bottom: -8px;
}

header nav a svg {
  margin-left: 10px;
}

/* slider customization */
.swiper-scrollbar-drag {
  --swiper-scrollbar-drag-bg-color: #7B6EF6;
}

/* END header */

.main {
  padding: 84.4px 0;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.8px;
  color: #ffffff;
  margin-bottom: 46px;
  position: relative;
}

.title::after {
  content: "";
  width: 100px;
  height: 2px;
  display: inline-block;
  background-color: #7B6EF6;
  position: absolute;
  left: 0;
  bottom: -10px;
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #7b6ef6;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: #7b6ef6;
}

/* now-playing */
.now-playing {
  padding: 24px 0;
}

.slider-link {
  display: flex;
  flex-direction: column;
  width: 282px;
  background: rgba(32, 40, 62, 0.8);
  border-radius: 12px;
  margin-bottom: 26px;
  padding: 8px;
}

.slider-link img {
  max-width: 100%;
  border-radius: 12px;
  min-height: 399px;
}

.slider-rating {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #FFAD49;
}

.slider-rating .fa-regular {
  margin-right: 8px;
  color: #FFAD49;
}

.slider-wrapper {
  padding: 12px 0;
}

.slider-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #EBEEF5;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-bottom: 8px;
}

.slider-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #767E94;
}





/* END swiper */


/* Общие стили для фильмов и сериалов */
.list-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #EBEEF5;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-bottom: 8px;
}

.list-item-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #767E94;
}

.list-item-descr {
  padding: 12px 0;
}

.list-item-link {
  display: inline-block;
  max-width: 100%;
  position: relative;
}

.list-item-rating {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #FFAD49;
}

.list-item-rating .fa-regular {
  margin-right: 8px;
  color: #FFAD49;
}

.no-img {
  height: 399px;
  width: 266px;
  border-radius: 12px;
  background: #595e6b;
}

/* spinner */
.spinner {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.spinner:after {
  content: " ";
  width: 22px;
  height: 22px;
  border: 2px solid #FFAD49;
  border-color: #FFAD49 #0000;
  border-radius: 50%;
  margin: 8px;
  animation: 1.2s linear infinite spinner;
  display: block;
}

.show {
  display: inline-block;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* END spinner */

.footer {
  background: #121829;
  padding: 20px 0;
  border-top: 1px solid #A8AEBF;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}